@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --transition: all 0.5s ease;
}


/*CONTACTO IMAGE*/
.bg-imagen-contacto {
    position: relative;
    width: 100%;
    background: url(../../public/fotos/tecate_comuna.jpg) no-repeat 50% 20%;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.bg-imagen-contacto::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Ajusta el valor alpha para cambiar la opacidad */
    z-index: 0;
}

.bg-imagen-contacto>* {
    position: relative;
    z-index: 1;
}

.dropshadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.vertical-header-sm {
    flex-direction: column;
}

.hero-margin {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
    padding-top: 5rem !important;
    padding-bottom: 4rem !important;
}

.text-white {
    color: #fff !important;
}

/* Parte lateral con redes sociales */
.social{
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9999;
    transform: translate(-260px, 0);
}

.social a{
    color: #ffc107;
    background: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 20px;
    width: 300px;
    text-align: right;
    border-radius: 50px;
    transition: 1s;
    transition-property: transform;
}

.social a:hover{
    transform: translate(140px, 0);
}

.social i{
    margin: 10px;
    font-size: 20px;
    width: 30px;
    height: 30px;
}

.social a:nth-child(1) i{
    color: #1DA0F0
}
.social a:nth-child(2) i{
    color: #F80000
}
.social a:nth-child(3) i{
    color: transparent;
    background-image: linear-gradient(45deg, #FFDF9E, #E56969, #8A49A1);
    -webkit-background-clip: text;
    font-weight: 600;
}
.social a:nth-child(4) i{
    color: #25D366
}

/* Parte lateral con redes sociales */

.display-6 {
    font-size: calc(1rem + 1.8vw);
    font-weight: 400;
    line-height: 1.2;
}
  

  .dropshadow-sm{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }

  .form-control{
    border: 2px solid black;
  }

  .form-select {
    border: 2px solid black;
  }

  @media (max-width: 437px) {
    .font-size-email {
      font-size: 15px;
    }
  }

  /*CONTACTO PARTE*/
  .letras-amarillas{
    color: #ffc107 !important;
  }

  .padd-hero-contact {
    padding-top: 7rem !important;
    padding-bottom: 3rem !important;
}

